{
  "api": "mercadobitcoin",
  "strategy": "simple",

  "apis": {
    "mercadobitcoin": {
      "currency": "BTC",
      "key": "???"
      "secret": "???"
      "pin": ????
    }
  },

  "strategies": {
    "simple": {
      "baseCurrency": "BRL",
      "interval": 5000,
      "profitability": 1.10,
      "closeToLowest": 0.05
    }
  }
}